@{
    ViewData["Title"] = "Trang quản trị";
}

<h2>Trang quản trị Admin</h2>

<div class="mt-3">
    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-primary">Quản lý sản phẩm</a>
</div>